@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.banner {
  @apply relative bg-[url('/images/bgimg11.png')] text-white bg-cover before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-light dark:before:bg-black before:opacity-0 before:backdrop-blur-xl dark:before:opacity-70;
}

.banner::before {
  box-shadow: inset 50px 50px 50px rgba(255, 255, 255, .5),
    inset -50px -50px 50px rgba(255, 255, 255, .5);
}

[data-theme="dark"] .banner::before {
  box-shadow: inset 50px 50px 50px rgba(0, 0, 0, 1),
    inset -50px -50px 50px rgba(0, 0, 0, 1);
}

.button {
  @apply relative inline-flex items-center justify-center gap-1 py-3 px-6 rounded-3xl text-white overflow-hidden transition-all duration-300;
}

.button-primary {
  @apply bg-primary-gradient text-sm z-10 before:absolute before:left-0 before:top-0 before:w-full before:h-full before:rounded-3xl before:bg-black before:opacity-0 hover:before:opacity-30 before:transition-all before:duration-300 before:-z-10;
}

.button-dark {
  @apply bg-white dark:bg-black text-black dark:text-white hover:bg-light dark:hover:bg-dark transition-colors duration-300;
}

/* CHECKBOX */
.custom-checkbox {
  border-color: #fff;
}
.custom-checkbox:checked {
  background-image: linear-gradient(-45deg, transparent 65%, #fff 65.99%),
    linear-gradient(45deg, transparent 75%, #fff 75.99%),
    linear-gradient(-45deg, #fff 40%, transparent 40.99%),
    linear-gradient(
      45deg,
      #fff 30%,
      #9333ea 30.99%,
      #9333ea 40%,
      transparent 40.99%
    ),
    linear-gradient(-45deg, #9333ea 50%, #fff 50.99%);
}

.tabs-bordered > .tab {
  @apply text-semi-dark border-white dark:border-dark transition-all duration-300 whitespace-nowrap max-sm:px-1;
}
.tab.tab-active:not(.tab-disabled):not([disabled]),
.tab:is(input:checked) {
  @apply text-black dark:text-white border-black dark:border-white;
}
